@import '~@angular/material/theming';
@import 'variables';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Custom MFW style palette
$mat-mfw: (
    50: $p50,
    100: $p100,
    200: $p200,
    300: $p300,
    400: $p400,
    500: $p500,
    600: $p600,
    700: $p700,
    800: $p800,
    900: $p900,
    A100: $A100,
    A200: $A200,
    A400: $A400,
    A700: $A700,
    contrast: (
        50: $mfw-style-guide-color-green,
        100: $mfw-style-guide-color-green,
        200: $mfw-style-guide-color-green,
        300: $mfw-style-guide-color-green,
        400: $mfw-style-guide-color-green,
        500: $mfw-style-guide-color-green,
        600: $mfw-style-guide-color-green,
        700: $mfw-style-guide-color-green,
        800: $mfw-style-guide-color-green,
        900: $mfw-style-guide-color-green,
        A100: $mfw-style-guide-color-green,
        A200: $mfw-style-guide-color-green,
        A400: $mfw-style-guide-color-green,
        A700: $mfw-style-guide-color-green,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$mfw-app-primary: mat-palette($mat-mfw);
$mfw-app-accent:  mat-palette($mat-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mfw-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mfw-app-theme: mat-light-theme($mfw-app-primary, $mfw-app-accent, $mfw-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mfw-app-theme);

$primary: map-get($mfw-app-theme, primary);
$accent: map-get($mfw-app-theme, accent);
$foreground: map-get($mfw-app-theme, foreground);
