.mfw-wrapper {


}

.mfw-page-background {


    background-image: url('~assets/images/bg-full.svg');
    background-color: $mfw-page-background;
    //background-repeat: no-repeat;
    //background-size: cover;
    height: inherit;
    width: inherit;
  //width: 100vw;
  min-width: 320px;
  background-size: 100vw auto;
  background-position: 0 0;
  //background-image: url();
  background-repeat: repeat-y;
}

.mfw-page-background-wrapper {

    z-index: $mfw-style-guide-layer-0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}

.mfw-base-container {

    margin: $mfw-skeleton-base-container-margin;
    // width: $mfw-skeleton-base-container-width;

}

.mfw-content {

    z-index: $mfw-style-guide-layer-1;
    padding: $mfw-skeleton-content-padding;
    background-color: $mfw-style-guide-color-black;
    border: 1px solid $mfw-style-guide-color-green;

}
.mfw-content {
    margin-bottom:$mfw-style-guide-padding-2x;
}


@include breakpoint($mfw-breakpoint-tablet) {

    .mfw-base-container {

        margin: $mfw-skeleton-base-container-margin-768;

    }

    .mfw-content {

        padding: $mfw-skeleton-content-padding-1200;

        &.slim {

            max-width: 600px;
            margin: 0 auto;

        }

    }

}

@include breakpoint($mfw-breakpoint-desktop) {

    .mfw-base-container {

        width: $mfw-skeleton-base-container-width-1200;
        margin: $mfw-skeleton-base-container-margin-1200;

    }

}
