body, html, h1, h2, h3, h4, h5, h6, p, ul, li, a {

    margin: 0;
    padding: 0;
    color: $mfw-style-guide-font-color-primary;

}

a {

    text-decoration: none;
    color: inherit;
    font-family: inherit;

  &:hover {
    color: $mfw-style-guide-color-primary;
  }
}

li {

    list-style-type: none;

}
body {

    font-family: Montaga;

}

label, input {

  width: 100%;

}

label {

  &.mat-form-field-label {
        font-family: Montaga;
        &.mat-empty, &.ng-star-inserted {
            color: $mfw-style-guide-color-green;
        }
  }
}
