.mfw-text {

    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;

    &.mfw-text--link {

        color: $mfw-style-guide-font-color-tertiary;

        &:hover {

            text-decoration: underline;

        }

    }

    &.large-padding {

        padding: $mfw-titles-large-padding;

    }

    &.small-padding-top {

        padding-top: $mfw-style-guide-padding;

    }

    &.small-padding-bottom {

        padding-bottom: $mfw-titles-small-padding-bottom;

    }

    &.equal-mini-padding-horizontal {

        padding: .7rem 0;

    }

    &.text-wrap-auto {

        &, & * {

            white-space: normal;

        }


    }

    .font-bold {

        font-family: Montaga;
        font-weight: bold;

    }

    .font-regular {

        font-family: Montaga;

    }

    .text-shadow {

        text-shadow: 0 0 15px black;

    }

    .line-height-1-2 {

        line-height: 1.2;

    }

    .text-align-center {

        text-align: center;

    }

    .text-align-left {

        text-align: left;

    }

    .text-align-right {

        text-align: right;

    }


    .uppercase {

        text-transform: uppercase;

    }

    .hover-underline {

      &:hover {

        text-decoration: underline;

      }

    }

    .color-primary {

        color: $mfw-style-guide-font-color-primary;

    }

    .color-secondary {

        color: $mfw-style-guide-font-color-secondary;

    }

    .color-tertiary {

        color: $mfw-style-guide-font-color-tertiary;

    }

    .font-style-1 {

        font-size: $mfw-style-guide-style-1-font-size;
        font-family: $mfw-style-guide-style-1-font-family;

    }

    .font-style-2 {

        font-size: $mfw-style-guide-style-2-font-size;
        font-family: $mfw-style-guide-style-2-font-family;

    }

    .font-style-3 {

        font-size: $mfw-style-guide-style-3-font-size;
        font-family: $mfw-style-guide-style-3-font-family;

    }

    .font-style-4 {

        font-size: $mfw-style-guide-style-4-font-size;

    }

    .font-style-5 {

        font-size: $mfw-style-guide-style-5-font-size;
        font-family: $mfw-style-guide-style-5-font-family;

    }

    .font-style-6 {

        font-size: $mfw-style-guide-style-6-font-size;
        font-family: $mfw-style-guide-style-6-font-family;

    }

}

@include breakpoint($mfw-breakpoint-desktop) {

    .mfw-text {

        &.large-padding {

            padding: $mfw-titles-large-padding-1200;

        }

        .font-style-1 {

            font-size: $mfw-style-guide-style-1-font-size-1200;

        }

        .font-style-2 {

            font-size: $mfw-style-guide-style-2-font-size-1200;

        }

        .font-style-3 {

            font-size: $mfw-style-guide-style-3-font-size-1200;

        }

        .font-style-4 {

            font-size: $mfw-style-guide-style-4-font-size-1200;

        }


    }

}
