.cdk-overlay-pane {
  .mat-dialog-container {
    box-shadow: 1px 1px 3px $mfw-style-guide-color-green;
    background: $mfw-style-guide-color-black;
  }
}


.mfw-button {

  white-space: pre-wrap !important;

    &.horizontal-margin {

        margin: 1rem 0;

    }

}

.mfw-position-relative {

  position: relative;

}

.mfw-full-width {

    width: 100%;

}

.mfw-header {
    &.active {
        .mfw-logo {

            path, polygon {
                fill: $mfw-style-guide-color-black;
            }

        }
        .mfw-app-nav-item-link {

            color: $mfw-style-guide-color-black;

        }
    }

    .mfw-logo {

        height: $mfw-header-basic-dimensions;
        width: auto;
    }
}

@include breakpoint($mfw-breakpoint-tablet) {

    .mfw-logo {

        height: $mfw-header-basic-dimensions-768;

    }

}
