// breakpoints
$mfw-breakpoint-tablet: to-rem(960px);
$mfw-breakpoint-desktop: to-rem(1200px);

// Colors
$mfw-style-guide-color-light-blue: #96c0e8;
$mfw-style-guide-color-orange: #e94f2d;
$mfw-style-guide-color-mauve: #ea565a;
$mfw-style-guide-color-white: white;
$mfw-style-guide-color-white-transparent: #ffffffc9;
$mfw-style-guide-color-black: #000;
$mfw-style-guide-color-black-85-opacity: #272a39d8;
$mfw-style-guide-color-apricot: #e28987;
$mfw-style-guide-color-green: #00fd90;


$mfw-style-guide-color-primary: $mfw-style-guide-color-green;
$mfw-style-guide-color-secondary: $mfw-style-guide-color-black;
$mfw-style-guide-color-tertiary: $mfw-style-guide-color-apricot;

$mfw-style-guide-font-color-primary: $mfw-style-guide-color-green;
$mfw-style-guide-font-color-secondary: $mfw-style-guide-color-black;
$mfw-style-guide-font-color-tertiary: $mfw-style-guide-color-mauve;


// Padding/Margin
$mfw-style-guide-padding: to-rem(20px);
$mfw-style-guide-padding-2x: to-rem(40px);
$mfw-style-guide-padding-3x: to-rem(60px);
$mfw-style-guide-padding-4x: to-rem(80px);
$mfw-style-guide-padding-5x: to-rem(100px);
$mfw-style-guide-padding-7x: to-rem(140px);
$mfw-style-guide-padding-10x: to-rem(200px);


// Layers
$mfw-style-guide-layer-0: -1;
$mfw-style-guide-layer-1: 1;
$mfw-style-guide-layer-2: 10;
$mfw-style-guide-layer-3: 11;
$mfw-style-guide-layer-4: 100;
$mfw-style-guide-layer-5: 101;
$mfw-style-guide-layer-6: 1000;
$mfw-style-guide-layer-7: 1001;
$mfw-style-guide-layer-8: 10000;
$mfw-style-guide-layer-9: 10001;


// Font Styles
$mfw-style-guide-style-1-font-size: to-rem(35px);
$mfw-style-guide-style-1-font-size-1200: to-rem(70px);
$mfw-style-guide-style-1-font-family: Montaga;

$mfw-style-guide-style-2-font-size: to-rem(30px);
$mfw-style-guide-style-2-font-size-1200: to-rem(42px);
$mfw-style-guide-style-2-font-family: Montaga;

$mfw-style-guide-style-3-font-size: to-rem(16px);
$mfw-style-guide-style-3-font-size-1200: to-rem(20px);
$mfw-style-guide-style-3-font-family: Montaga;

$mfw-style-guide-style-4-font-size: to-rem(18px);
$mfw-style-guide-style-4-font-size-1200: to-rem(21px);

$mfw-style-guide-style-5-font-size: to-rem(25px);
$mfw-style-guide-style-5-font-family: Montaga;

$mfw-style-guide-style-6-font-size: to-rem(30px);
$mfw-style-guide-style-6-font-family: Montaga;



// Skeleton
$mfw-skeleton-base-container-width: 100%;
$mfw-skeleton-base-container-width-1200: to-rem(1160px);
$mfw-skeleton-base-container-margin: $mfw-style-guide-padding-10x $mfw-style-guide-padding;
$mfw-skeleton-base-container-margin-768: $mfw-style-guide-padding-10x $mfw-style-guide-padding-2x;
$mfw-skeleton-base-container-margin-1200: 30vH auto $mfw-style-guide-padding-5x;
$mfw-skeleton-content-padding: $mfw-style-guide-padding-2x $mfw-style-guide-padding;
$mfw-skeleton-content-padding-1200: $mfw-style-guide-padding-4x;
$mfw-page-background: $mfw-style-guide-color-black;


// Header
$mfw-header-container-padding: $mfw-style-guide-padding;
$mfw-header-container-padding-768: $mfw-style-guide-padding $mfw-style-guide-padding-2x;
$mfw-header-nav-toggle-label-font-size: to-rem(18px);
$mfw-header-nav-toggle-label-font-size-768: to-rem(25px);
$mfw-header-basic-dimensions: to-rem(50px);
$mfw-header-basic-dimensions-768: to-rem(70px);
$mfw-header-static-nav-margin-768: 0 0 0 $mfw-style-guide-padding-7x;

// Header - Navigation
$mfw-header-nav-background-color: $mfw-style-guide-font-color-primary;
$mfw-header-nav-font-size: to-rem(35px);
$mfw-header-nav-font-size-768: to-rem(50px);
$mfw-header-nav-font-size-1200: to-rem(70px);
$mfw-header-nav-sub-items-font-size: to-rem(16px);
$mfw-header-nav-sub-items-font-size-768: to-rem(19px);
$mfw-header-nav-sub-items-font-size-1200: to-rem(20px);
$mfw-header-nav-content-margin: $mfw-style-guide-padding-10x 0;


// Titles
$mfw-titles-small-padding-bottom: $mfw-style-guide-padding;
$mfw-titles-large-padding: $mfw-style-guide-padding 0;
$mfw-titles-large-padding-1200: $mfw-style-guide-padding-2x 0 $mfw-style-guide-padding-3x;

