<div class="mfw-content mfw-content-margin">
  <div class="mfw-ressorts">
    <div class="mfw-text large-padding color-tertiary">
      <h1 id="ressortOverview_title" class="font-style-1 uppercase">
        {{isAdmin ? 'Ressorts Übersicht': 'Mithelfen'}}
      </h1>
    </div>
    <div *ngIf="ressorts; else noRessorts" class="mfw-tiles-grid">
      <mat-grid-list cols={{columns}} (window:resize)="onResize($event)" gutterSize=30px>
        <div *ngFor="let ressort of ressorts">
          <mat-grid-tile *ngIf="ressort.visibility || (isAdmin)" [colspan]="1" class="mfw-tiles-grid tile">
            <a id="ressortOverview_ressortLink_{{ressort.title}}" class="link" (click)="ressort.additionalFields && isLoggedin && !isAdmin ? isUserInfoSufficient(ressort) : navigateToRessort(ressort.id)">
              <div class="mfw-image-title-tile">
                <div class="background">
                  <div class="overlay">
                  </div>
                </div>
                <div class="content-flex">
                  <div class="content">
                    <div class="mfw-text title">
                      <h2 class="font-style-2 color-secondary uppercase">
                        {{ressort.title}}
                      </h2>
                    </div>
                    <div class="mfw-text subtitle">
                      <h3 class="font-style-3 color-secondary">
                        Freie Schichten: {{getCountNotConfirmedShifts(ressort.id) | async}}
                      </h3>
                    </div>
                    <div *ngIf="!ressort.visibility" class="mfw-text small-padding-top">
                      <mat-icon>{{'visibility_off'}}</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>
    <ng-template #noRessorts>
      <div class="mfw-text large-padding">
        <span class="font-style-3">
          Bisher sind noch keine Ressorts erstellt worden.
        </span>
      </div>
    </ng-template>

    <div *ngIf="isAdmin">
      <app-create-ressort></app-create-ressort>
    </div>
  </div>
</div>
