@import 'functions';
@import 'mixins';
@import 'variables';

.mfw-ressorts {


}

.mfw-image-title-tile {

    color: $mfw-style-guide-color-white;
    position: relative;
    height: inherit;
    width: inherit;

    .background {

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $mfw-style-guide-color-green;
        //background-image: url('~assets/images/tile_pattern.png');
        //background-repeat: no-repeat;
        //background-size: cover;

    }

    .content-flex {

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: inherit;
        width: inherit;

    }

    .content {

        text-align: center;
        padding: 1rem;

    }

}

.mfw-tiles-grid {

    .tile {

        .link {

            display: flex;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }



        &:hover {

            .overlay {

                background-color: rgba(96, 96, 96, 0.36);

            }

        }

        .overlay {

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

        }

    }
}
