<div fxLayout="column" class="mfw-sign-in">
  <div fxFlex=100>
    <div class="mfw-sign-in-title mfw-text large-padding">
      <h1 class="uppercase font-bold font-style-1">
        Passwort zurücksetzen
      </h1>
    </div>
  </div>
  <div fxFlex=100>
    <form *ngIf="!formSent; else formSentTemplate" [formGroup]="form" (ngSubmit)="resetPassword()">
      <div fxLayout="column" class="mfw-form">
        <mat-form-field  fxFlex=100 class="mfw-text">
          <input placeholder="Email" matInput type="string" class="font-regular form-control" id="email"
                 formControlName="email" [class.is-invalid]="isInvalid('email')">
        </mat-form-field>
        <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="alert alert-danger mfw-text small-padding-bottom">
          <div class="color-tertiary">
            {{errorMessageEmail}}
          </div>
        </div>
        <button fxFlex=100 mat-raised-button [disabled]="form.invalid" type="submit" class="mfw-button horizontal-margin">zurücksetzen</button>
        <a routerLink="/{{authRoutesNames.SIGN_UP}}">Noch keinen Account? Hier Registrieren</a>
      </div>
    </form>
    <ng-template #formSentTemplate>
      <div class="mfw-text">
        Es wurde eine Email mit weiteren Instruktionen an folgende Adresse gesendet: {{form.value.email}}
      </div>
    </ng-template>
  </div>
</div>
