<div fxLayout="column" class="mfw-calendar">
  <div fxFlex="100" *ngFor="let day of calendar$ | async">
    <app-shifts-per-month [shifts]="shifts" [currentShiftDate]="day.date"></app-shifts-per-month>
  </div>
  <div fxFlex="100" *ngFor="let day of calendar$ | async">
    <app-shifts-per-day [ressortId]="ressort.id" [ressortTitle]="ressort.title" [day]="day"></app-shifts-per-day>
  </div>
</div>
