<div fxLayout="column" [formGroup]="parentForm">
  <ng-container *ngFor="let additionalField of additionalFields">
    <ng-container *ngIf="!requiredAdditionalFields || isRequired(additionalField)">
      <mat-form-field *ngIf="additionalField.options; else inputField" fxFlex=100 class="mfw-text">
        <mat-label>{{additionalField.name}}</mat-label>
        <mat-select formControlName="{{additionalField.id}}">
          <mat-option *ngFor="let option of additionalField.options | keyvalue" value="{{option.value}}">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-template #inputField>
        <mat-form-field fxFlex=100 class="mfw-text">
          <input placeholder="{{additionalField.name}}" matInput type="string" class="font-regular form-control" formControlName="{{additionalField.id}}" id="{{additionalField.id}}">
        </mat-form-field>
      </ng-template>
    </ng-container>
  </ng-container>
</div>
