<div class="mfw-back-button-container">
    <a id="button_back" fxLayout="row" class="mfw-back-button mfw-text" (click)="navigateBack()">
        <mat-icon class="mfw-back-button-icon">arrow_back</mat-icon>
        <span class="font-style-5">zurück</span>
    </a>
</div>
