<div class="mfw-content slim">
  <app-back-button></app-back-button>
  <div class="mfw-user-profile" *ngIf="user$ | async as user">
    <div fxLayout="column">
      <div fxFlex=100>
        <div class="mfw-user-profile-title mfw-text large-padding">
          <h1 class="uppercase font-bold font-style-1">
            Dein Profil
          </h1>
        </div>
      </div>
      <div fxFlex ="100">
        <div fxLayout="column" fxLayout.md="row" fxLayoutGap="2rem">
          <div fxFlex="100" class="mfw-position-relative">
            <div fxLayout="column">
              <div fxFlex="100">
                <div class="mfw-user-profile-name mfw-text small-padding-bottom">
                  <h2 class="font-bold font-style-2">
                    {{user.firstName}} {{user.lastName}}
                  </h2>
                </div>
              </div>
              <div fxFlex="100" class="mfw-text small-padding-bottom">
                <div fxLayout="row" fxLayoutAlign="start center" class="mfw-user-profile-email">
                  <mat-icon class="mfw-icon-small mfw-icon-padding-right">{{'mail_outline'}}</mat-icon>
                  {{user.email}}
                </div>
              </div>
              <div *ngIf="user.phone" fxFlex="100" class="mfw-text small-padding-bottom">
                <div fxLayout="row" fxLayoutAlign="start center" class="user-profile-phone">
                  <mat-icon class="mfw-icon-small mfw-icon-padding-right">{{'local_phone'}}</mat-icon>
                  {{user.phone}}
                </div>
              </div>
              <div *ngIf="user.address" fxFlex="100" class="mfw-text small-padding-bottom">
                <div fxLayout="row" fxLayoutAlign="start center" class="user-profile-address">
                  <mat-icon class="mfw-icon-small mfw-icon-padding-right">{{'house'}}</mat-icon>
                  {{user.address}}
                </div>
              </div>
              <div *ngIf="user.place" fxFlex="100" class="mfw-text small-padding-bottom">
                <div fxLayout="row" fxLayoutAlign="start center" class="user-profile-place">
                  <mat-icon class="mfw-icon-small mfw-icon-padding-right">{{'map'}}</mat-icon>
                  {{user.place}}
                </div>
              </div>
              <div *ngIf="user.birthDate" fxFlex="100" class="mfw-text small-padding-bottom">
                <div fxLayout="row" fxLayoutAlign="start center" class="user-profile-birthday">
                  <mat-icon class="mfw-icon-small mfw-icon-padding-right">{{'cake'}}</mat-icon>
                  {{user.birthDate}}
                </div>
              </div>
              <ng-container *ngFor="let additionalField of additionalFieldsInitData">
                <div *ngIf="user[additionalField.id]"  fxFlex="100" class="mfw-text small-padding-bottom">
                  <div fxLayout="row" fxLayoutAlign="start center" class="user-profile-mobility">
                    <mat-icon class="mfw-icon-small mfw-icon-padding-right">{{additionalField.icon}}</mat-icon>
                    {{user[additionalField.id]}}
                  </div>
                </div>
              </ng-container>
              <div class="mfw-edit-button">
                <button mat-icon-button (click)="navigateToDetailView(user.uid)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="100" class="mfw-text large-padding">
        <div *ngIf="!passwordReset; else passwordResetTemplate" class="text-align-right">
          <a href="/" (click)="resetPassword(user.email, $event)" class="hover-underline">Kennwort per Mail zurücksetzen</a>
        </div>
        <div class="text-align-right">
          <a href="mailto:info@musikfestwochen.ch" class="hover-underline">Profil löschen</a>
        </div>
      </div>
      <ng-template #passwordResetTemplate>
          <div class="text-align-center font-style-5">
            Es wurde eine Email mit weiteren Instruktionen an {{user.email}} gesendet.
          </div>
      </ng-template>
    </div>
  </div>
  <app-back-button fxHide.gt-xs></app-back-button>
</div>
