<div fxLayout="column" class="mfw-shifts-per-day-list">
  <div fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="initial">
        <button class="mfw-calendar-button" mat-button type="button" matTooltip="Vorheriger Tag" (click)="prevDate()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>
      <div fxFlex="grow">
        <div class="mfw-text large-padding">
          <div class="text-align-center font-style-5">
            {{day.date | date:'dd.MM.yyyy'}}
          </div>
        </div>
      </div>
      <div fxFlex="initial">
        <button class="mfw-calendar-button" mat-button type="button" matTooltip="Nächster Tag" (click)="nextDate()">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div fxFlex="100">
    <app-shift-list [showRessort]="false" [ressortTitle]="ressortTitle" [showDate]="false" [shifts]="shifts$ | async"></app-shift-list>
  </div>
  <div *ngIf="isAdmin$ | async" fxFlex="100">
    <app-export-shift-per-day [shifts]="shifts$ | async"></app-export-shift-per-day>
  </div>
</div>
