<div class="mfw-shift-worker-list">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" *ngIf="user$ | async as user">
    <div fxFlex="noshrink" fxFlex.gt-sm="0 0 25%">
      {{user.firstName}} {{user.lastName}}
    </div>
    <div fxHide.gt-sm="true" fxFlexAlign="flex-end">
      <button (click)="openDialog(shift, user)" class="mfw-button" mat-icon-button type="button" matTooltip="Helfer von Schicht entfernen">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="toggleConfirmation(shift, worker)" class="mfw-button" mat-icon-button type="button">
        <mat-icon matTooltip="Schicht für diesen Helfer {{worker.confirmed ? 'widerrufen' : 'bestätigen'}}">
          {{worker.confirmed ? 'lock' : 'lock_open'}}
        </mat-icon>
      </button>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="0 0 25%">
      {{user.email}}
    </div>
    <div fxFlex="100" fxFlex.gt-sm="0 0 25%">
      {{user.phone ? user.phone : '-'}}
    </div>
    <div fxHide.sm="true" fxHide.xs="true" fxFlexAlign="flex-end">
      <button (click)="openDialog(shift, user)" class="mfw-button" mat-icon-button type="button" matTooltip="Helfer von Schicht entfernen">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="toggleConfirmation(shift, worker)" class="mfw-button" mat-icon-button type="button">
        <mat-icon matTooltip="Schicht für diesen Helfer {{worker.confirmed ? 'widerrufen' : 'bestätigen'}}">
          {{worker.confirmed ? 'lock' : 'lock_open'}}
        </mat-icon>
      </button>
    </div>
  </div>
</div>
