<div fxFlex="100">
  <div class="mfw-create-shift-form-title mfw-text large-padding">
    <h2 class="uppercase font-bold font-style-2">Neue Schichten erstellen</h2>
  </div>
</div>
<div class="mfw-create-shift-form" fxFlex="100">
  <form fxFlex=100 [formGroup]="shiftForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" class="mfw-form" fxLayoutGap="20px">
      <div fxFlex=100 fxFlex.gt-sm="calc(20% - 20px)">
        <div fxLayout="row wrap">
          <mat-form-field class="mfw-text mfw-full-width" fxFLex>
            <input placeholder="Anzahl Arbeiter" matInput type="string" class="font-regular" form-control
                   id="noOfWorker"
                   formControlName="noOfWorker" #noOfWorkerInput>
          </mat-form-field>
          <div fxFlex=100 *ngIf="noOfWorkerControl.invalid && (noOfWorkerControl.dirty || noOfWorkerControl.touched)"
               class="alert alert-danger mfw-text small-padding-bottom">
            <div class="color-tertiary">
              {{errorMessageNoOfWorker}}
            </div>
          </div>
        </div>
      </div>
      <div fxFlex=100 fxFlex.gt-sm="calc(80% - 20px)">
        <div fxLayout="row wrap">
          <mat-form-field class="mfw-text mfw-full-width" fxFLex>
            <input placeholder="Beschreibung (optional)" matInput type="string" class="font-regular" form-control
                   id="title"
                   formControlName="title" #titleInput>
          </mat-form-field>
        </div>
      </div>
      <div class="mfw-position-relative" fxFlex=100 fxFlex.gt-sm="calc(50% - 20px)">
        <div fxLayout="column">
          <mat-form-field class="mfw-text" fxFlex="100">

            <input (dateTimeInput)="openShiftEndIfEmpty()" matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Schicht-Start" formControlName="shiftStart" #shiftStartInput>
            <owl-date-time #dt1></owl-date-time>
          </mat-form-field>
          <div *ngIf="shiftStartControl.invalid && (shiftStartControl.dirty ||shiftStartControl.touched)"
               class="alert alert-danger mfw-text small-padding-bottom">
            <div class="color-tertiary">
              {{errorMessageStart}}
            </div>
          </div>
        </div>
      </div>
      <div class="mfw-position-relative" fxFlex=100 fxFlex.gt-sm="calc(50% - 20px)">
        <div fxLayout="column">
          <mat-form-field class="mfw-text" fxFlex="100">
            <input matInput [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Schicht-Ende" formControlName="shiftEnd" #shiftEndInput>
            <owl-date-time #dt2></owl-date-time>
          </mat-form-field>
          <div *ngIf="shiftForm.errors?.backToTheFuture" class="alert alert-danger mfw-text small-padding-bottom">
            <div class="color-tertiary">
              Back to the future? 😎
            </div>
          </div>
          <div *ngIf="shiftEndControl.invalid && (shiftEndControl.dirty ||shiftEndControl.touched)"
               class="alert alert-danger mfw-text small-padding-bottom">
            <div class="color-tertiary">
              {{errorMessageEnd}}
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="100">
        <button fxFlex.xs=100 mat-raised-button type="submit" [disabled]="!shiftForm.valid">Schicht erstellen</button>
      </div>
    </div>
  </form>
</div>
