<header>
    <div class="mfw-header" [ngClass]="navActive ? 'active' : ''">
        <div class="mfw-header-container">
            <div class="mfw-header-content">
                <div class="mfw-header-logo">
                    <a routerLink="{{this.ressortRoutesNames.BASE}}" [inlineSVG]="'./assets/icons/logo.svg'">
                    </a>
                </div>
                <app-nav fxHide="true" fxHide.gt-sm="false"></app-nav>
                <div fxHide="true" fxHide.xs="false" fxHide.sm="false" class="mfw-nav" (click)="toggleNav()">
                    <div class="mfw-nav-toggle">
                        <div class="bar top"></div>
                        <div class="bar center"></div>
                        <div class="bar bottom"></div>
                    </div>
                    <div class="mfw-nav-label uppercase">
                        MENU
                    </div>
                </div>
            </div>
        </div>
        <div class="mfw-nav-full">
            <div class="mfw-nav-background">
            </div>
            <div class="mfw-nav-content">
                <ul class="mfw-nav-items">
                    <app-nav fxHide="true" fxHide.xs="false" fxHide.sm="false" (click)="toggleNav()"></app-nav>
                </ul>
            </div>
        </div>
    </div>
</header>
