
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define Font Base

@import 'functions';
@import 'mixins';
@import 'variables';
@import 'styles/globals/material-variables';
@import 'styles/globals/skeleton';
@import 'styles/globals/tags';
@import 'styles/globals/fonts';
@import 'styles/globals/tools';
@import 'styles/globals/text-styles';
@import "~ng-pick-datetime/assets/style/picker.min.css";


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$mfw-app-primary: mat-palette($mat-mfw);
$mfw-app-accent:  mat-palette($mat-mfw, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mfw-app-warn:    mat-palette($mat-mfw, A200, A100, A400);

// Create the theme object (a Sass map containing all of the palettes).
$mfw-app-theme: mat-light-theme($mfw-app-primary, $mfw-app-accent, $mfw-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mfw-app-theme);

$primary: map-get($mfw-app-theme, primary);
$accent: map-get($mfw-app-theme, accent);
$foreground: map-get($mfw-app-theme, foreground);
