@import 'functions';
@import 'mixins';
@import 'variables';

$mfw-shifts-per-mont-current-dimensions: to-rem(33px);
$mfw-shifts-per-mont-current-dimensions-desktop: to-rem(40px);

.mfw-shifts-per-month {

  margin: $mfw-style-guide-padding-2x 0;

}

.mfw-shifts-per-month-list-item {

  padding: $mfw-style-guide-padding 0;
  cursor: pointer;
  margin-top: -1px;
  margin-left: -1px;

}

.mfw-shifts-per-month-list-item--no-cursor {

  cursor: auto;

}

.mfw-shifts-per-month-list-item-highlighting {

  &.shifts-available, &.current {

    position: relative;

  }

  &.shifts-available::before, &.current::after {

    content:'';
    display: flex;
    position:absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    height: $mfw-shifts-per-mont-current-dimensions;
    width: $mfw-shifts-per-mont-current-dimensions;
    border-radius: 50%;

  }

  &.shifts-available {
    color: $mfw-style-guide-color-black;


    .mfw-shifts-per-month-list-item {

      position: relative;
      z-index: $mfw-style-guide-layer-1;

    }

    &::before {
      background-color: $mfw-style-guide-color-green;
    }

  }

  &.current {

    &::after {
      border: 2px solid $mfw-style-guide-color-primary;
    }

  }

  &.current.shifts-available {
    color: $mfw-style-guide-color-green;

    &::before {
      background-color: $mfw-style-guide-color-black;
    }
  }

}

@include breakpoint($mfw-breakpoint-tablet) {

  .mfw-shifts-per-month-list-item-highlighting {

    &.shifts-available::before, &.current::after {

      height: $mfw-shifts-per-mont-current-dimensions-desktop;
      width: $mfw-shifts-per-mont-current-dimensions-desktop;

    }

    &.current {

      &::after {
        border: 3px solid $mfw-style-guide-color-primary;
      }

    }

  }
}
