<div class="mfw-app-nav">
    <ul class="mfw-app-nav-items">
        <ng-container *ngIf="!(isLoggedIn$ | async)">
            <li class="mfw-app-nav-item mfw-text">
                <a class="mfw-app-nav-item-link uppercase" routerLink="{{this.authRoutesNames.SIGN_IN}}">
                    Login
                </a>
            </li>
            <li class="mfw-app-nav-item mfw-text">
                    <a class="mfw-app-nav-item-link uppercase" routerLink="{{this.authRoutesNames.SIGN_UP}}">
                    Registrieren
                </a>
            </li>
        </ng-container>
      <ng-container *ngIf="user$ | async as user">
        <ng-container *ngIf="isLoggedIn$ | async">
            <li *ngIf="!(isAdmin$ | async)" class="mfw-app-nav-item mfw-text">
                    <a class="mfw-app-nav-item-link uppercase" [routerLink]="[this.userProfileRoutesNames.BASE, user.uid, this.userProfileRoutesNames.MY_SHIFTS_SUB]">
                    Meine Schichten
                </a>
            </li>
            <li class="mfw-app-nav-item mfw-text">
                    <a class="mfw-app-nav-item-link uppercase" [routerLink]="[this.userProfileRoutesNames.BASE, user.uid]" >
                    Mein Profil
                </a>
            </li>
            <li class="mfw-app-nav-item mfw-text">
                    <a class="mfw-app-nav-item-link uppercase" (click)="signOut()">
                    Abmelden
                </a>
            </li>
        </ng-container>
      </ng-container>
    </ul>
</div>
